.formContainer {
  background-color: rgba(244, 245, 247, 0.75);
  display: flex;
  height: 3rem;
  .textArea {
    border: none;
    border-radius: 0.5rem;
    border-top: 1px solid gray;
    flex-grow: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    overflow: hidden;
    padding: 0.75rem;
    resize: none;
    text-align: right;
  }

  .textArea:focus {
    outline: none;
  }

  ::-webkit-resizer {
    display: none;
  }
}
