.crOuterContainer {
    display: flex;
    margin-right: 3rem;
}

.crInnerContainer {
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px black;
    width: 100%;
    margin: 3rem;
    margin-left: 7rem;
}
