.navbar {
    display: flex;
    align-items: center;
    height: 5rem;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        164deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(3, 0, 25, 1) 35%,
        rgba(7, 0, 57, 1) 75%,
        rgba(9, 0, 74, 1) 81%,
        rgba(13, 0, 112, 1) 94%,
        rgba(20, 0, 176, 1) 100%
    );
    justify-content: space-around;
    color: white;
    box-shadow: 2px 2px 7px 2px lightgray;
}

.navbar h1 {
    font-family: 'Orbitron';
    font-size: 2rem;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    font-weight: 500;
    margin: 1rem;
}

.navbar ul li:hover {
    border-bottom: 2px solid gray;
}

.navbar a {
    text-decoration: none;
    color: white;
}
