.rmContainer {
    display: flex;
    height: 40rem;
    width: 100%;
    outline: 1px solid gray;
    background-color: white;
    overflow-y: auto;
    flex-direction: column-reverse;
}

.rmContainer table {
    margin: 5px;
}
