.footer {
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    164deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(3, 0, 25, 1) 35%,
    rgba(7, 0, 57, 1) 75%,
    rgba(9, 0, 74, 1) 81%,
    rgba(13, 0, 112, 1) 94%,
    rgba(20, 0, 176, 1) 100%
  );
  border-top: 1px solid rgb(244, 245, 247);
  box-shadow: 0rem -0.1rem 0.25rem 0rem rgb(66, 82, 110);
  color: white;
  display: flex;
  justify-content: center;

  p {
    font-family: 'Poppins', sans-serif;
  }

  span {
    color: rgb(0, 82, 204);
    font-family: 'Marcellus SC', serif;
    font-size: 1.2rem;
  }
}
