.ouContainer {
    display: flex;
    width: 20%;
    height: 40rem;
}

.ouInnerContainer {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    background-color: white;
    box-shadow: 2px 5px 10px 0px black;
    border-radius: 5px;
    margin: auto;
    width: 85%;
    height: 30rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.5rem;
}

.ouInnerContainer h1 {
    font-size: 2rem;
    font-weight: normal;
    font-family: 'Lobster';
    text-align: center;
    color: white;
    background-color: black;
    border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: 0;
}

.ouInnerContainer p {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ouContainer li {
    font-family: 'Orbitron', 'san-serif';
    font-size: 1.25rem;
    padding-bottom: 0.15rem;
}

.onlineUsers {
    display: block;
    width: 100%;
}

.chatTopic {
    background-color: lightgray;
}

.ongoingMessages {
    position: sticky;
}
