.chatNav {
    display: flex;
    width: 15rem;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(13, 13, 13, 1) 28%,
        rgba(41, 41, 41, 1) 78%,
        rgba(64, 64, 64, 1) 100%
    );
    color: white;
    box-shadow: 2px 5px 10px 0px black;
}

.chatNav ul {
    margin: 0.5rem;
    padding: 0.5rem;
}

.chatNav ul li {
    font-family: 'Orbitron';
    font-size: 1.5rem;
    list-style: none;
    margin-top: 2rem;
    text-align: start;
    border-bottom: 0.1rem solid darkgray;
}

.chatNav ul li:hover {
    border-bottom: 0.2rem solid white;
    cursor: pointer;
}
